$white-color:white;
$gray-color:gray;
$gray-medium-light: #eaeaea;
$gray-e8e8e8: #e8e8e8;
$light-gray-5: #555;
$light-gray-7: #777;
$link-nav-color: #222;
$light-gray-b: #bbb;
$red-color: red;
$blue-color: blue;
