@import "color.scss";

/* mixins, variables, etc. */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */
h1,h2,h3,h4,h5,h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray-7;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
header {
  form {
    display: flex;
    margin: 8px 20px 0;

    input[type="search"] {
      margin: 0 5px 0;
    }

    input[type="submit"] {
      width: 10rem;
    }
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $white-color;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: $white-color;
  text-decoration: none;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $light-gray-7;
}

footer a {
  color: $light-gray-5;
}

footer a:hover {
  color: $link-nav-color;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }

  section.micropost_form {
    span.image {
      input[type="file"]:focus {
        border: 0;
        outline: none;
      }

      input[type="file"]::-webkit-file-upload-button {
        visibility: hidden;
      }

      input[type="file"]::before {
        content: "Add Image";
        cursor: pointer;
        display: inline-block;
        width: 100%;
        text-align: center;
        outline: none;
        white-space: nowrap;
        user-select: none;
        -webkit-user-select: none;
      }
    }

    #file-upload-content {
      display: none;
      margin: 10px auto 20px;
      text-align: center;

      #file-upload-image {
        width: 100%;
      }
    }
  }

  section {
    padding: 10px 0;
    margin-top: 20px;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }

    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }

  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;

  input {
    border: 0;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;

  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $light-gray-b;
    color: $gray-color;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue-color;
    }
  }

  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid $light-gray-b;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: $red-color;
  ul {
    color: $red-color;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  // @extend .has-error;
  .form-control {
    color: $red-color;
  }
}

.checkbox {
  margin-bottom: 10px;
  margin-top: 10px;
  span {
    font-weight: normal;
    margin-left: 20px;
  }
}

#session_remember_me {
  margin-left: 0;
  width: auto;
}

/* Users index */
table.users {
  a {
    color: $light-gray-3;
    text-decoration: none;
  }

  a:hover {
    color: $light-gray-5;
  }
}

.microposts {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    width: -webkit-fill-available;
    padding: 10px 0;
    border-top: 1px solid $gray-e8e8e8;
  }

  .user {
    margin-top: 5em;
    padding-top: 0;
  }

  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }

  .content {
    display: block;
    margin-left: 60px;

    img {
      display: block;
      padding: 5px 0;
    }
  }

  .timestamp {
    color: $light-gray-5;
    display: block;
    margin-left: 60px;
  }
}

// Comment Micropost
.comment {
  list-style: none;
  padding: 0;

  .comment-form {
    display: flex;

    form {
      width: 100%;
      padding-bottom: 10px;

      .field {
        width: 100%;
      }
    }
  }

  ul.comment_list {
    list-style: none;
    margin-top: 20px;
    padding-left: 0;

    .gravatar {
      width: 60px;
    }
    
    li {
      padding-top: 10px;
      border-top: 1px solid $gray-e8e8e8;

      div {
        display: inline-block;

        p {
          padding-top: 5px;
        }
      }
    }

    ul.list-reply-cmt {
      list-style: none;
      margin-top: 10px;

      li {
        display: inline-block;
        width: -webkit-fill-available;
        padding-bottom: 10px;
      }

      li.comment-form {
        display: inline-flex;
      }
    }
  }
}

// Group
.groups {
  list-style: none;
  
  li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

  li:not(:last-child) {
    border-bottom: 1px solid $gray-e8e8e8;
  }
}
